.Searchbar{
    padding: 0.5rem 1rem;
    display: flex;
    
}


.InputSearch{
    flex:7;
    margin:0.1rem;
    padding:0.4rem;
    font-size: 1.2rem;
    border-radius:4px;
}

.ButtonSearch{
    flex:1;
    margin:0.1rem;
    padding:0.4rem;
    font-size: 1.2rem;
    background-color: cyan;
    font-weight:bold;
    border-radius: 4px;
    cursor:pointer;
}